[submodule "themes/arabica"]
	path = themes/arabica
	url = https://github.com/nirocfz/arabica
[submodule "themes/tale"]
	path = themes/tale
	url = https://github.com/EmielH/tale-hugo.git
[submodule "themes/pickles"]
	path = themes/pickles
	url = https://github.com/mismith0227/hugo_theme_pickles
[submodule "themes/eureka"]
	path = themes/eureka
	url = https://github.com/wangchucheng/hugo-eureka.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/paper"]
	path = themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
